<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Get Started with eBay</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel='stylesheet' href='/stylesheets/signup.css' />
     
<link rel='stylesheet' href='/stylesheets/signup2.css' />
 
	
	<style type="text/css"></style>
  </head>
<body>


<div class="sz980">


	<div class="pgWidth" id="pgWidth">	
	
	<div class="gh-acc-exp-div"><a id="gh-hdn-stm" class="gh-acc-a" href="#mainContent">Skip to main content</a></div>
	
	<div id="gh" class="gh-flex gh-w gh-minH no-touch ">
	<table class="gh-tbl">
	<tbody><tr>
	<td class="gh-td">
	<a href="/" class="iclg" _sp="m570.l2586" id="gh-la">eBay
	<img width="250" height="200" style="clip:rect(47px, 118px, 95px, 0px); position:absolute; top:-47px;left:0" alt="" src="https://secureir.ebaystatic.com/rs/v/fxxj3ttftm5ltcqnto1o4baovyl.png" id="gh-logo"></a></td></tr></tbody></table>
	</div>
	
	<h1 class="mg">
	<span class="shpt" id="maincontent">
	Get started with eBay</span>
	
	
	<a name="mainContent" tabindex="-1" style="top: 0px; left: -9999px; position: absolute;">Get started with eBay</a></h1>
	
	
	<table class="mgtb " role="presentation">
	<tbody>
	<tr>
	<td width="80%" valign="top">
	<div class="pdb20">
	<h2 class="fntNml">
	<span class="col">
	Enter Login details to get access to user account.</span></h2></div></td>
	 <td width="20%" valign="top"></td></tr>
	 <tr>
	 <td width="80%" valign="top" class="contd cntCr">
	 <div class="prg">
	
	
	<form action="/postLogin" method="post" name="ppaRegForm" id="ppaRegForm">
		 		
		 	
		<div class="rcl"></div><div>
		<div class="rfl">
		<div class="fv-w wtx">
		<label for="email"><h3 style="color:#8D8DFF">Email</h3></label>
		<div class="fv-tw ">
		<input maxlength="64" type="text" name="email" value="" id="email" size="32" class="wtx" v="1" t="1" a="1" aria-required="true" required>
		<div role="alert" aria-live="assertive">
		</div></div></div></div></div>

		<div class="agsp rcl"></div>
		

		<div class="rcl"></div>
		<div class="pass_wrp"><div class="rfl w202" id="PASSWORD_d">
		<div class="fv-w">
		<label for="PASSWORD"><h3 style="color:#8D8DFF">Password</h3></label>
		<div class="fv-tw ">
		<input maxlength="64" type="password" name="password" value="" id="PASSWORD" size="32" class="pwd" autocomplete="off" autocorrect="off" aria-describedby="PASSWORD_id" v="1" t="1" a="1" aria-autocomplete="none" oncopy="return false" aria-required="true" required>
		<div role="alert" aria-live="assertive">
		</div></div></div></div>
		
			

		<div class="agsp rcl"></div>
		</div><div class="h40"><div class="rfl">
		<input id="sbtBtn" class="btn btn-prim" type="submit" value="LOGIN">
		</div></div>
		</div>
		
	</form>
		
		
		
		</div></td><td width="20%" valign="top" id="lcont"><div class="pdLft"><div>
		
		
		<div class="si-lr"><div class="si-re"><div class="si-pd"><div class="si-sp si-fl g-hlp si-fn"><h2>New to eBay?</h2></div>


		<form action="/register" method="GET" id="signinForm" name="signinForm"><span>
		<p>Get Started now. It's fast and easy!</p><br>
			<input id="w1-3" class="btn btn-ter" type="submit" value="Register">
			</span>
			
		</form>




</div></div></div></div></div></td></tr></tbody>
</table>
	
	
	
	
	</div>

</div>	

<script>
function validateEmail(email) { 
    var re = [a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?;
    return re.test(email);
} 
</script>
<!-- Placed at the end of the document so the pages load faster ============================================= -->
	<script src="themes/js/jquery.js" type="text/javascript"></script>
	<script src="themes/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="themes/js/google-code-prettify/prettify.js"></script>
	
	<script src="themes/js/bootshop.js"></script>
    <script src="themes/js/jquery.lightbox-0.5.js"></script>
	
</body>
</html>